<footer id="footer" class="s12 col group">
	<!--img class="footerImage" src="" data-src="{{imgPrefix}}img/QACert.png"/-->
	<div class="s4 ">
		<div class="s12 col">
				<!--(bake socialBtns.html imgPrefix={{imgPrefix}})-->
		</div>
	</div>
	<div class="s4">
		<div class="s12 col">
		</div>
	</div>
	<div class="s4">
		<div class="s12 col">
			<a href="http://www.richmediagallery.com/tools/certified-users#certifiedUser:5594~" target="_blank">
				<img class="footerImage" src="" data-src="{{imgPrefix}}img/QACert.png"/>
			</a>
		</div>
	</div>
</footer>
