<div class="socialIcon-container">
	<a href="https://twitter.com/generalstephen1" target="_blank">
		<div id="twitterBtn" class="socialIcon">
			<span class="socialIcon_hover whiteBg"></span>
			<img src="" data-src="{{imgPrefix}}img/social_twitter_white.png" class="primaryIcon"/>
			<img src="" data-src="{{imgPrefix}}img/social_twitter_red.png" class="secondaryIcon"/>
		</div>
	</a>
	<a href="https://github.com/generalstephen1" target="_blank">
		<div id="githubBtn" class="socialIcon">
			<span class="socialIcon_hover whiteBg"></span>
			<img src="" data-src="{{imgPrefix}}img/social_github_white.png" class="primaryIcon"/>
			<img src="" data-src="{{imgPrefix}}img/social_github_red.png" class="secondaryIcon"/>
		</div>
	</a>
	<a href="https://www.linkedin.com/in/steveutting" target="_blank">
		<div id="linkedInBtn" class="socialIcon">
			<span class="socialIcon_hover redBg"></span>
			<img src="" data-src="{{imgPrefix}}img/social_linkedIn_red.png" class="primaryIcon"/>
			<img src="" data-src="{{imgPrefix}}img/social_linkedIn_white.png" class="secondaryIcon"/>
		</div>
	</a>
</div>
