@import (reference) "include.less";


/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.2%;
}
//.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF TWELVE  */
.s12 {	width: 100%;	}
.s11 { 	width: 91.53%;}
.s10 { 	width: 83.06%;}
.s9 { 	width: 74.6%;	}
.s8 {  	width: 66.13%;}
.s7 {  	width: 57.66%;}
.s6 {  	width: 49.2%;	}
.s5 {  	width: 40.73%;}
.s4 {  	width: 32.26%;}
.s3 {  	width: 23.8%;	}
.s2 {  	width: 15.33%;}
.s1 {  	width: 6.866%;}

.offset-s12 {		margin-left: 100%;	}
.offset-s11 { 	margin-left: 91.53%;}
.offset-s10 { 	margin-left: 83.06%;}
.offset-s9 { 		margin-left: 74.6%;	}
.offset-s8 {  	margin-left: 66.13%;}
.offset-s7 {  	margin-left: 57.66%;}
.offset-s6 {  	margin-left: 49.2%;	}
.offset-s5 {  	margin-left: 40.73%;}
.offset-s4 {  	margin-left: 32.26%;}
.offset-s3 {  	margin-left: 23.8%;	}
.offset-s2 {  	margin-left: 15.33%;}
.offset-s1 {  	margin-left: 8.4%;}

.topset-0{ margin-top: 0; }

.right{
	float:right;
	margin: 1% 1.2% 1% 0;
}

.section {
    max-width: @maxPageWidth;
    margin: 0 auto;
}
.group {
    width: 103.125%; /* 990px */
    //overflow: hidden;
    margin-left: -1.562%; /* 15px */
    margin-bottom: -1.875em; /* 30px */
}
.mGrid {
    float: left;
		overflow: hidden;
		background-color: white;
}

.mGrid-reg {	width: 33.333%;  }/* 300px */
.mGrid-lrg {	width: 66.666%;  }/* 600px */
.mGrid-xLrg {	width: 100%;  }/* 600px */


@media only screen and ( max-width: 40em ) {/* 640px */
    .mGrid {
        margin-bottom: 0.938em; /* 15px */
    }
		.buffer{ width: 0}
		#focusArea{width: 100%}

		.mGrid-reg {	width: 49.5%;  }/* 305px */
		.mGrid-lrg {	width: 100%;  }/* 600px */
}

@media only screen and ( max-width: 30em ) {/* 480px */
    .mGrid {
        width: 100%;
    }
}

@media only screen and ( max-width: 20em ){ /* 320px */
    #group
    {
        width: 100%;
        margin-left: 0;
    }
    .mGrid
    {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
