#projectCards {
  overflow: hidden;
  top: 1em;
  width: 100%;
}
.tagHover {
  opacity: 0;
}
.projectCard {
  opacity: 0;
}
.homeCardBuffer {
  overflow: hidden;
  margin: 4px;
  position: relative;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 0;
}
.tagFilterElem {
  display: inline-block;
}
.tagFilterElem:hover .tagHover {
  opacity: 1;
}
.tagTextOuter {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background-color: black;
}
.tagTextOuter:nth-child(1) {
  -webkit-transition-delay: 0.1s;
  /* Safari */
  transition-delay: 0.1s;
}
.tagTextOuter:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  /* Safari */
  transition-delay: 0.2s;
}
.tagTextOuter:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  /* Safari */
  transition-delay: 0.3s;
}
.tagTextOuter:nth-child(4) {
  -webkit-transition-delay: 0.4s;
  /* Safari */
  transition-delay: 0.4s;
}
.tagTextOuter:nth-child(5) {
  -webkit-transition-delay: 0.5s;
  /* Safari */
  transition-delay: 0.5s;
}
.tagTextOuter:nth-child(6) {
  -webkit-transition-delay: 0.6s;
  /* Safari */
  transition-delay: 0.6s;
}
.tagText {
  font-size: 1rem;
}
.tagText.tagWebDev {
  border-left: #536dfe solid 3px;
}
.tagText.tagDesign {
  border-left: #ff0000 solid 3px;
}
.tagText.tagMultimedia {
  border-left: #00ff00 solid 3px;
}
.tagText.tagServerSide {
  border-left: #0000ff solid 3px;
}
.tagText.tagRichMedia {
  border-left: #ffff00 solid 3px;
}
.tagText.tagManagement {
  border-left: #00ffff solid 3px;
}
.tagText.tagGames {
  border-left: #ffffff solid 3px;
}
.tagFilter {
  text-align: center;
}
.tagFilter .tagDotOuter {
  float: none;
  display: inline-block;
}
.mGrid {
  overflow: hidden;
}
.mGrid img {
  width: 100%;
  /* GREYS OUT THE IMAGE AND SATURATES ON HOVER
          filter: none ;
          -webkit-filter: grayscale(80%);
          -moz-filter:    grayscale(80%);
          -ms-filter:     grayscale(80%);
          -o-filter:      grayscale(80%);

          .transition();

          &:hover{
            filter: none;
            -webkit-filter: grayscale(0%);
            -moz-filter:    grayscale(0%);
            -ms-filter:     grayscale(0%);
            -o-filter:      grayscale(0%);
          }
          */
}
.mGrid:hover .tagTextOuter {
  margin-left: -110%;
}
.mGrid:hover .projHover-home {
  opacity: 1;
}
.mGrid-reg {
  width: 33.333%;
}
/* 300px */
.mGrid-lrg {
  width: 66.666%;
}
/* 600px */
.mGrid-xLrg {
  width: 100%;
}
/* 600px */
.projTint-home,
.projCopy-home,
.projHover-home {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transition-delay: 0.2s;
  /* Safari */
  transition-delay: 0.2s;
}
.projBody {
  padding: 1em;
  padding-bottom: 22em;
  top: 23em;
  max-width: 60em;
  margin: 0 auto;
}
.projPg-image {
  width: 100%;
}
.projTint-home {
  opacity: 0.5;
  width: 100%;
  height: 100%;
}
.projShortBlurb-home {
  display: none;
}
.titleContainer-home {
  position: absolute;
  bottom: 1%;
  margin-left: -3px;
}
.projHover-home {
  right: -140px;
  width: 140px;
  height: 100%;
}
.projHover-home .projTitle-home {
  text-align: left;
  /* margin-left: -180%; */
  /* margin-right: 212%; */
  padding: 10px;
  white-space: nowrap;
  transform: rotate(90deg);
  transform-origin: top left;
}
.projHover-home .tagContainer {
  margin-right: 5px;
}
.projHover-home.darkTheme .projTitle-home,
.projHover-home.darkTheme .projBlurb-home,
.projHover-home.darkTheme .projShortBlurb-home {
  color: #212121;
}
.projHover-home.darkTheme .projTint-home {
  background-color: #ffffff;
}
.projHover-home.lightTheme .projTitle-home,
.projHover-home.lightTheme .projBlurb-home,
.projHover-home.lightTheme .projShortBlurb-home {
  color: #ffffff;
}
.projHover-home.lightTheme .projTint-home {
  background-color: #212121;
}
@media only screen and (max-width: 45em) {
  /* 640px */
  .buffer {
    width: 0;
  }
  #focusArea {
    width: 100%;
  }
  .mGrid-reg {
    width: 49.5%;
  }
  /* 305px */
  .mGrid-lrg {
    width: 100%;
  }
  /* 600px */
  .projShortBlurb-home {
    display: block;
  }
  .projBlurb-home {
    display: none;
  }
  .tagTextOuter {
    margin-left: -110%;
  }
}
@media only screen and (max-width: 30em) {
  /* 480px */
  .mGrid {
    width: 100%;
  }
}
@media only screen and (max-width: 20em) {
  /* 320px */
  #group {
    width: 100%;
    margin-left: 0;
  }
  .mGrid {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
