#focusArea {
  max-width: 60em;
}
header {
  height: 22em;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  color: #212121;
  background-color: #212121;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background-image: url("../img/img_headerBG.png");
  background-repeat: no-repeat;
  background-position: center;
}
.headerLockup {
  margin-top: 3em;
}
#headerTitleContainer {
  margin-right: -100px;
  color: #f6f6f6;
}
.headerCopy {
  display: inline-block;
  float: right;
}
.headerTitle,
.headerSubtitle {
  position: relative;
  text-align: right;
  color: #ffffff;
}
.headerTitle {
  font-size: 3rem;
}
.headerSubtitle {
  font-size: 1.5rem;
}
#globalLogoLrg {
  float: right;
}
.menuBtn {
  background-color: #f6f6f6;
  height: 3em;
  text-align: center;
  line-height: 3em;
  opacity: 0.9;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.menuBtn:hover {
  background-color: white;
}
.menuBtn:hover .contactExpand {
  right: 0;
}
.contactBtn {
  position: absolute;
  top: 0;
  right: 0;
}
.textCurser {
  cursor: text;
}
.contactExpand {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition: all 2;
  /* Safari */
  transition: all 2;
  text-align: right;
  position: absolute;
  background-color: #212121;
  top: 100%;
  right: -500%;
  padding: 1em;
  overflow: hidden;
  min-width: 15em;
  color: white;
}
.contactExpand p {
  padding: 0;
  margin: 0.1em;
}
.contactExpand p.hoverRed:hover {
  color: #a40d13;
}
#siteMain {
  margin-top: 24em;
}
.projHomeImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.introduction {
  text-align: center;
}
.skillModule {
  float: left;
  margin: 0 1%;
}
.skillname {
  font-size: 0.7rem;
}
.skillSet .skill,
.skillSet h2 {
  width: 85%;
  margin-left: 7%;
  display: inline-block;
}
.skillSet span {
  margin-top: 6px;
}
.skillSet span p,
.skillSet span .inlSpan {
  margin: 0;
  display: inline-block;
  float: left;
}
.skillSet span .inlSpan {
  float: right;
}
.skillSet span .inlSpan img {
  width: 9px;
  height: 9px;
  margin-bottom: 7px;
  margin-left: 4px;
}
.skillSet h2 {
  text-align: center;
  font-size: 1.1rem;
}
#footer {
  height: 22em;
  margin-top: 10em;
  background-color: #212121;
  background-image: url("../img/img_headerBG.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
#footer .s4 {
  overflow: hidden;
  float: left;
  height: 100%;
  text-align: center;
  margin: 0 1.3%;
}
#footer .footerImage {
  margin: 20%;
  height: auto;
  width: 14em;
}
#footer .backupContent {
  display: none;
}
.socialIcon-container {
  width: 68%;
  height: 68%;
  margin: 25% 16%;
}
.socialIcon img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition: all 2;
  /* Safari */
  transition: all 2;
}
.socialIcon_hover {
  width: 48%;
  height: 48%;
  position: absolute;
  left: 26%;
  top: 26%;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition: all 2;
  /* Safari */
  transition: all 2;
}
.socialIcon_hover.redBg {
  background-color: #a40d13;
}
.socialIcon_hover.whiteBg {
  background-color: white;
}
.socialIcon_hover.blackBg {
  background-color: black;
}
.socialIcon .primaryIcon {
  opacity: 1;
}
.socialIcon .secondaryIcon {
  opacity: 0;
}
.socialIcon:hover .secondaryIcon,
.socialIcon:hover .socialIcon_hover {
  opacity: 1;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
